    body {
    background: url(Fundo.gif) no-repeat center fixed; 
    background-size: cover;font-family: 'Brush Script MT', cursive;}
    /*Isto é a imagem de fundo e a fonte*/
    /*Isto é o estilo do título*/
    h2 {text-align: center;
        width: fit-content;
        background-color: rgba(103, 141, 177, 0.521);
        border: 15px solid rgb(176 39 158 / 57%);
        border-radius: 12px;
        padding: 10px;
        margin: auto;
    }
    /*Isto é o estilo do parágrafo*/
    form {text-align: center;
        width: fit-content;
        background-color: rgba(103, 141, 177, 0.521);
        border: 15px solid rgb(176 39 158 / 57%);
        border-radius: 12px;
        padding: 10px;
        margin: auto;
    }
    /*Abaixo está a div estilizada*/
    div.inicio {
        position: absolute;
        bottom: 10px;
        right: 557px;
        width: 300px;
        height: 80px;
        border: 5px solid rgb(143, 9, 132);}
