    body {
    background: url(GIF3.gif) no-repeat center fixed; 
    background-size: cover;font-family: 'Brush Script MT', cursive;}
    
    div.quem {
        position: absolute;
        left: 10px;
        width: 300px;
        height: 80px;
        border: 5px solid rgb(143, 9, 132);
      }
    div.hobbies {
        position: absolute;
        right: 10px;
        width: 300px;
        height: 80px;
        border: 5px solid rgb(143, 9, 132);
    }
    div.form {
        position: absolute;
        bottom: 10px;
        right: 557px;
        width: 300px;
        height: 80px;
        border: 5px solid rgb(143, 9, 132);}

    h1 {text-align: center;
        width: min-content;
        background-color: rgba(103, 141, 177, 0.521);
        text-transform: uppercase;
        border: 15px solid rgb(176 39 158 / 57%);
        border-radius: 12px;
        padding: 10px;
        margin: auto;
    }

    